{% load static %}

<div class="container-fluid bordered-block question-container">
    <div class="row">
        <div class="col-md-2">
            <img class="media-object avatar" src="{% static 'ask-klyukvin/avatar.jpg' %}" height="100" width="100">
            {% include "page_parts/like_block.html" %}
        </div>

        <div class="col-md-10">
            <h2><a href="#">Answer</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna </p>

            <div class="container-fluid">
                <div class="row">
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Correct</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>