<div class="fluid-container">
    <div class="row">
        <div class="col-md-4">
            <div class="like-badge-container">
                <span class="badge">14</span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="like-thumbs-container">
                <h3><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a></h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dislike-thumbs-container">
                <h3><a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a></h3>
            </div>
        </div>
    </div>
</div>