<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Popular tags
            </h2>

            <p>
                <a class="gray-tag" href="{% url 'tag_question' %}">perl</a>
                <a class="red-tag" href="{% url 'tag_question' %}">python</a>
                <a class="orange-tag" href="{% url 'tag_question' %}">TechnoPark</a>
                <a class="blue-tag" href="{% url 'tag_question' %}">MySQL</a>
                <a class="red-tag" href="{% url 'tag_question' %}">django</a>
                <a class="gray-tag" href="{% url 'tag_question' %}">Mail.Ru</a>
                <a class="blue-tag" href="{% url 'tag_question' %}">Google</a>
            </p>
        </div>
    </div>
</div>