<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Best Members
            </h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-text"><a href="#">Mr.Freeman</a></li>
                <li class="list-group-item list-group-item-text"><a href="#">Dr.House</a></li>
                <li class="list-group-item list-group-item-text"><a href="#">Bender</a></li>
                <li class="list-group-item list-group-item-text"><a href="#">Queen Victoria</a></li>
                <li class="list-group-item list-group-item-text"><a href="#">V.Pupkin</a></li>
            </ul>
        </div>
    </div>
</div>