<div class="container-fluid">
    <h2>Settings: Dr. Pepper</h2>

    <form>
        <div class="form-group row">
            <label for="login-input" class="col-md-2 col-form-label">Login</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="login-input">
            </div>
        </div>

        <div class="form-group row">
            <label for="email-input" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-8">
                <input class="form-control" type="email" id="email-input">
            </div>
        </div>

        <div class="form-group row">
            <label for="nick-name" class="col-md-2 col-form-label">Text</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="nick-name">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Text</label>
            <div class="col-md-6">
                <input class="form-control file" type="file" data-filename-placement="inside">
            </div>
            <div class="col-md-1">
                <button type="submit" value="Load" class="btn btn-default">Choose</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5 col-md-offset-2">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>

</div>